.item-list .link1 {
  list-style-type: none;
  margin: 20px 0;
  padding: 0;
}
#block-accordion-taxonomy-accordion-block ul {
  margin: 0;
  padding: 0;
}
.accordion-2-wrapper {
  display: none;
  margin-left: 20px;
}
.openItem .accordion-2-wrapper {
  display: block;
}

.first a.use-ajax {
  border-bottom: 1px solid #bfbfbf;
  color: #333;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  margin: 0 20px;
  padding: 0;
  text-decoration: none;
}
.open .accordion-1-outer-wrapper > a.use-ajax {
  background: #48a9e4 url('../images/arrow.png') no-repeat center right;
  border-bottom: 1px solid #48a9e4;
  color: #fff;
  margin: 0;
  padding: 0 20px;
}
.accordion-1-wrapper {
  /*display:none;*/
  background-color: #fff;
  overflow: auto;
}
.load-content {
  padding: 0 20px 20px 20px;
}
/*.open .alu-accordion-1-wrapper{
  display:block;
}*/
.first .accordion-1-wrapper a {
  border-bottom: none;
  color: #0069aa;
  display: block;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.7em;
  margin: 5px 0;
}
.first .accordion-1-wrapper .openItem a.use-ajax {
  border-bottom: 1px solid #bfbfbf;
  color: #333;
  font-weight: 600;
  margin-bottom: 7px;
}
